@using Microsoft.Research.DataOnboarding.WebApplication.Resource;
@using Microsoft.Research.DataOnboarding.WebApplication.ViewModels;

@model FileListViewModel
@{
    ViewBag.Title = Information.Title;
}

<div class="container">
    <div class="right-panel">
        <div id="divCredPopup" class="basicAuthenticationPopupWrapper" style="display: none;"></div>
        <div id="fileListContainer"></div>
    </div>
</div>



