<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="bufferlessInputStreamControllers" type="System.Configuration.NameValueFileSectionHandler" />
    <section name="SkyDrive" type="System.Configuration.NameValueSectionHandler" />
    <section name="Merritt" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- Code take a hard dependency on this source name as this is the root namespace for data onboarding. -->
      <source name="Microsoft.Research.DataOnboarding" switchName="Microsoft.Research.DataOnboarding" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="AzureDiagnostics" />
        </listeners>
      </source>
      <source name="Microsoft.Research.DataOnboarding.WebApi.Security" switchName="Microsoft.Research.DataOnboarding.WebApi.Security" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="AzureDiagnostics" />
        </listeners>
      </source>
      <source name="Microsoft.Research.DataOnboarding.WebApi" switchName="Microsoft.Research.DataOnboarding" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="AzureDiagnostics" />
        </listeners>
      </source>
      <source name="Microsoft.Research.DataOnboarding.WebApi.Api" switchName="Microsoft.Research.DataOnboarding.WebApi.Api" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="AzureDiagnostics" />
        </listeners>
      </source>
      <source name="Microsoft.Research.DataOnboarding.FileService" switchName="Microsoft.Research.DataOnboarding.FileService" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="AzureDiagnostics" />
        </listeners>
      </source>
      <source name="Microsoft.Research.DataOnboarding.FileService.FileProcesser" switchName="Microsoft.Research.DataOnboarding.FileService.FileProcesser" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="AzureDiagnostics" />
        </listeners>
      </source>
      <source name="Microsoft.Research.DataOnboarding.RepositoryAdapters.SkyDrive" switchName="Microsoft.Research.DataOnboarding.RepositoryAdapters.SkyDrive" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="AzureDiagnostics" />
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Microsoft.Research.DataOnboarding" value="Verbose" />
      <add name="Microsoft.Research.DataOnboarding.WebApi" value="Verbose" />
      <add name="Microsoft.Research.DataOnboarding.WebApi.Security" value="Verbose" />
      <add name="Microsoft.Research.DataOnboarding.WebApi.Api" value="Verbose" />
      <add name="Microsoft.Research.DataOnboarding.FileService" value="Verbose" />
      <add name="Microsoft.Research.DataOnboarding.FileService.FileProcesser" value="Verbose" />
      <add name="Microsoft.Research.DataOnboarding.RepositoryAdapters.SkyDrive" value="Verbose" />
    </switches>
    <sharedListeners>
      <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
  <connectionStrings>
    <add name="DataOnboardingConnection" providerName="System.Data.SqlClient"
      connectionString="Data Source=oqbqqwwz69.database.windows.net;Initial Catalog=DataOnboarding;User ID=dataupsqllogin;Password=$ingu1@riTy;MultipleActiveResultSets=True"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="UploadToAzure" value="true" />
    <add key="DataOnBoardingStorage" value="DefaultEndpointsProtocol=https;AccountName=datup2filestore;AccountKey=CIfeyDDxHiJCp+qZ3+VhmgzSukT3ZIRGFRDf7x2vjqjlPv/ZraGcKsLlfvZGeTOadckLryOTbIFTGozU9NbIzA==" />
    <add key="PrimaryContainer" value="filecontainer" />
    <add key="Tenant" value="https://dataup2.accesscontrol.windows.net/" />
    <add key="Issuers" value="https://dataup2.accesscontrol.windows.net/" />
    <add key="AllowedAudience" value="urn:dataup2:webapi" />
    <add key="FedMetadataEndpoint" value="https://dataupdev.accesscontrol.windows.net/FederationMetadata/2007-06/FederationMetadata.xml" />
    <!-- 
      This has to be duplicate in the app settings (note the WIF config also has the symmetric key mapped)
      This is required to fall back on this setting, when the Delegation handler is invoked 
    -->
    <add key="SigningSymmetricKey" value="w5D9F/xzJeMwlGIohwAj3hA7gkoHz13eaQIjSQ+LwBo=" />
    
    <add key="ida:FederationMetadataLocation" value="https://dataupdev.accesscontrol.windows.net/FederationMetadata/2007-06/FederationMetadata.xml" />
    <add key="ida:Issuer" value="https://dataupdev.accesscontrol.windows.net/v2/wsfederation" />
    <add key="ida:ProviderSelection" value="ACS" />
    <add key="AdminEmail" value="--ADMIN_EMAIL_ACCOUNT--" />
    <add key="Profile_Post" value="oneshare_dataup_content" />
    <add key="Reg2" value="[&lt;&gt;\⌂\\Ç\\ü\\é\\Æ\\£\\¥\\ó\\ú\\Ñ\\¿\\⌐\\½\\¼\\«\\»\\│\\ß\\µ\\±\\°\\∙\\€\\†\\‡\\Š\\™\\œ\\Ÿ\\©\\®\\Ã\\Î\\Ô\\×\\÷\\ø\\þ\/\|]+" />
    <add key="SpecialCharKeySequence" value="[^a-zA-Z0-9_\.\s]+" />
    <add key="StreamReadOrWriteChunkSize" value="4096" />
    <add key="QueueName" value="dataup2fileprocessorqueue" />
  </appSettings>
  <bufferlessInputStreamControllers>
    <add key="Blob" value="/api/blob" />
  </bufferlessInputStreamControllers>
  <location path="FederationMetadata">
    <system.web>
      <httpRuntime targetFramework="4.5" requestValidationMode="4.5" maxRequestLength="2097151" />
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="SignOutCallback">
    <system.web>
      <httpRuntime targetFramework="4.5" requestValidationMode="4.5" maxRequestLength="2097151" />
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="api">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
    <system.webServer>
      <modules>
        <remove name="FormsAuthentication" />
        <remove name="WSFederationAuthenticationModule" />
        <remove name="SessionAuthenticationModule" />
      </modules>
    </system.webServer>
  </location>
  
  <system.web>
    <authorization>
      <deny users="?" />
    </authorization>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="4.5" maxRequestLength="2097151" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="OPTIONSVerbHandler" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="false">
      
      <remove name="FormsAuthentication" />
      <add name="GetBufferlessInputStreamModule" type="Microsoft.Research.DataOnboarding.WebApi.GetBufferlessInputStreamModule" preCondition="managedHandler" />
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1048576000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
   </entityFramework>

  <system.identityModel>
    <identityConfiguration saveBootstrapContext="true">
      <audienceUris>
        <add value="urn:dataup2:webapi"/>
      </audienceUris>
      <securityTokenHandlers>
        <add type="Microsoft.Research.DataOnboarding.WebApi.Security.ApiJWTSecurityTokenHandler, Microsoft.Research.DataOnboarding.WebApi"/>
        <securityTokenHandlerConfiguration>
          <certificateValidation certificateValidationMode="PeerTrust"/>
          <issuerTokenResolver type="Microsoft.IdentityModel.Tokens.JWT.NamedKeyIssuerTokenResolver, Microsoft.IdentityModel.Tokens.JWT">
            <securityKey symmetricKey="w5D9F/xzJeMwlGIohwAj3hA7gkoHz13eaQIjSQ+LwBo=" name="urn:dataup2:webapi"/>
          </issuerTokenResolver>
        </securityTokenHandlerConfiguration>
      </securityTokenHandlers>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="false"/>
      <wsFederation passiveRedirectEnabled="false" issuer="https://dataup2.accesscontrol.windows.net/v2/wsfederation" realm="urn:dataup2:webapi"
        requireHttps="false"/>
    </federationConfiguration>
  </system.identityModel.services>
  
  <SkyDrive>
    <add key="OAuthUrl" value="https://login.live.com/oauth20_token.srf"/>
    <add key="OAuthAuthZUrl" value="https://login.live.com/oauth20_authorize.srf"/>
    <add key="ClientId" value="000000004011532E"/>
    <add key="ClientSecret" value="9pZpxjX86vUdxYDNerzdiwcO2Rz8EYQd"/>
    <add key="RedicrectionUrl" value="https://api.dataup.org/api/windowsLiveAuthorization/AuthorizeUser"/>
    <add key="SkyDriveUpdateScope" value="wl.skydrive_update"/>
    <add key="WindowsLiveOfflinseAccessScope" value="wl.offline_access"/>
    <add key="VerifyFileInterval" value="1">
    </add>
    <add key="PublishInterval" value="1">
    </add>
    <add key="RetryCount" value="3">
    </add>
  </SkyDrive>
  <Merritt>
    <add key="VerifyFileInterval" value="14400">
    </add>
    <add key="PublishInterval" value="5">
    </add>
    <add key="RetryCount" value="3">
    </add>
  </Merritt>
  
</configuration>
