<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SkyDrive" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <SkyDrive>
    <add key="OAuthUrl" value="https://login.live.com/oauth20_token.srf" />
    <add key="OAuthAuthZUrl" value="https://login.live.com/oauth20_authorize.srf" />
    <add key="ClientId" value="00000000400ED482" />
    <add key="ClientSecret" value="nfF0SxilIyxgi2-2G6QY-gMmdJukEIHF" />
    <add key="RedicrectionUrl" value="http://dev-api-dataonboarding.cloudapp.net/api/windowsLiveAuthorization/AuthorizeUser" />
    <add key="SkyDriveUpdateScope" value="wl.skydrive_update" />
    <add key="WindowsLiveOfflinseAccessScope" value="wl.offline_access" />
    <add key="PolFrequencyInHours" value="4"></add>
    <add key="NoOfRetryAttempts" value="2"></add>
  </SkyDrive>
</configuration>