<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="DataOnboardingConnection" providerName="System.Data.SqlClient" connectionString="Data Source=oqbqqwwz69.database.windows.net;Initial Catalog=DataOnboarding;User ID=dataupsqllogin;Password=$ingu1@riTy;MultipleActiveResultSets=True" />
  </connectionStrings>
  <appSettings>
    <add key="AllowedAudience" value="urn:dataup2:webapi" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SigningSymmetricKey" value="w5D9F/xzJeMwlGIohwAj3hA7gkoHz13eaQIjSQ+LwBo=" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="QueueName" value="dataup2fileprocessorqueue" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DataOnBoardingStorage" value="DefaultEndpointsProtocol=https;AccountName=datup2filestore;AccountKey=CIfeyDDxHiJCp+qZ3+VhmgzSukT3ZIRGFRDf7x2vjqjlPv/ZraGcKsLlfvZGeTOadckLryOTbIFTGozU9NbIzA==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Tenant" value="https://dataup2.accesscontrol.windows.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="Issuers" value="https://dataup2.accesscontrol.windows.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
  <system.identityModel xdt:Transform="Replace">
    <identityConfiguration saveBootstrapContext="true">
      <audienceUris>
        <add value="urn:dataup2:webapi" />
      </audienceUris>
      <securityTokenHandlers>
        <add type="Microsoft.Research.DataOnboarding.WebApi.Security.ApiJWTSecurityTokenHandler, Microsoft.Research.DataOnboarding.WebApi" />
        <securityTokenHandlerConfiguration>
          <certificateValidation certificateValidationMode="PeerTrust" />
          <issuerTokenResolver type="Microsoft.IdentityModel.Tokens.JWT.NamedKeyIssuerTokenResolver, Microsoft.IdentityModel.Tokens.JWT">
            <securityKey symmetricKey="--SYMMETRIC_KEY--" name="urn:dataup2:webapi" />
          </issuerTokenResolver>
        </securityTokenHandlerConfiguration>
      </securityTokenHandlers>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services xdt:Transform="Replace">
    <federationConfiguration>
      <cookieHandler requireSsl="false" />
      <wsFederation passiveRedirectEnabled="false" issuer="https://dataup2.accesscontrol.windows.net/v2/wsfederation" realm="urn:dataup2:webapi" requireHttps="false" />
    </federationConfiguration>
  </system.identityModel.services>
  <SkyDrive xdt:Transform="Replace">
    <add key="OAuthUrl" value="https://login.live.com/oauth20_token.srf"/>
    <add key="OAuthAuthZUrl" value="https://login.live.com/oauth20_authorize.srf"/>
    <add key="ClientId" value="--CLIENT_ID--"/>
    <add key="ClientSecret" value="--CLIENT_SECRET--"/>
    <add key="RedicrectionUrl" value="https://api.dataup.org/api/windowsLiveAuthorization/AuthorizeUser"/>
    <add key="SkyDriveUpdateScope" value="wl.skydrive_update"/>
    <add key="WindowsLiveOfflinseAccessScope" value="wl.offline_access"/>
    <add key="VerifyFileInterval" value="1"></add>
    <add key="PublishInterval" value="1"></add>
    <add key="RetryCount" value="3"></add>
  </SkyDrive>
  <Merritt xdt:Transform="Replace">
    <add key="VerifyFileInterval" value="14400"></add>
    <add key="PublishInterval" value="5"></add>
    <add key="RetryCount" value="3"></add>
  </Merritt>
</configuration>