<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="UserApiUri" value="https://api.dataup.org/api/users" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="FileApiUri" value="https://api.dataup.org/api/files/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RepositoryApiUri" value="https://api.dataup.org/api/Repository/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="RepositoryTypesApiUri" value="https://api.dataup.org/api/repositorytypes/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="publishApiUri" value="https://api.dataup.org/api/publish/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="QCApiUri" value="https://api.dataup.org/api/qc/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MerrittApiUri" value="https://api.dataup.org/api/Merritt/"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="WindowsLiveAuthUri" value="https://api.dataup.org/api/windowsLiveAuthorization/AuthorizeUser" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BlobApiUri"  value="https://api.dataup.org/api/Blob" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="SignOutUri" value="https://api.dataup.org/signout?callback={0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ApiAuthenticationUriTemplate" value="https://api.dataup.org/api/authenticate?callback={0}" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="supportedIdentityProvidersAPIUri" value="https://api.dataup.org/api/GetSupportedIdentityProviders" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="BaseApiUri" value="https://api.dataup.org"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>