<footer>
    <div class="footerContainer">
        <nav class="footer-links">
            <ul>
                <li><a href="http://research.microsoft.com/c/1063" title="Privacy Statement" role="link" target="_blank">Privacy Statement</a></li>
                <li><a href="http://research.microsoft.com/c/1061" title="Terms of Use" role="link" target="_blank">Terms of Use</a></li>
                <li><a href="http://dataup.cdlib.org/contact_us.html" title="Contact" role="link" target="_blank">Contact</a></li>
                <li><a href="http://dataup.cdlib.org" title="About Dataup" role="link">About Dataup</a></li>
            </ul>
        </nav>
        <nav class="copyright-info">
            <ul>
                <li><a href="http://research.microsoft.com" target="_blank" role="link" title="Microsoft Research">
                    <img src="/content/images/microsoft-research-logo.png" /></a></li>
                <li><a href="http://windowsazure.com" target="_blank" role="link" title="Windows Azure">
                    <img src="/content/images/windows-azure-logo.png" /></a></li>
            </ul>
        </nav>
    </div>
</footer>
