<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add name="DataOnboardingConnection" providerName="System.Data.SqlClient" connectionString="--SQL_CONNECTION_STRING--" />
  </connectionStrings>
  <appSettings>
    <add key="QueueName" value="dataup2fileprocessorqueue" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="DataOnBoardingStorage" value="--DATA_ONBOARDING_STORAGE_CONNECTION_STRING--" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <SkyDrive xdt:Transform="Replace">
    <add key="OAuthUrl" value="https://login.live.com/oauth20_token.srf"/>
    <add key="OAuthAuthZUrl" value="https://login.live.com/oauth20_authorize.srf"/>
    <add key="ClientId" value="000000004011532E"/>
    <add key="ClientSecret" value="9pZpxjX86vUdxYDNerzdiwcO2Rz8EYQd"/>
    <add key="RedicrectionUrl" value="http://api.dataup.org/api/windowsLiveAuthorization/AuthorizeUser"/>
    <add key="SkyDriveUpdateScope" value="wl.skydrive_update"/>
    <add key="WindowsLiveOfflinseAccessScope" value="wl.offline_access"/>
    <add key="VerifyFileInterval" value="1"></add>
    <add key="PublishInterval" value="1"></add>
    <add key="RetryCount" value="3"></add>
  </SkyDrive>
  <Merritt xdt:Transform="Replace">
    <add key="VerifyFileInterval" value="60"></add>
    <add key="PublishInterval" value="1"></add>
    <add key="RetryCount" value="60"></add>
  </Merritt>
</configuration>

